ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;

}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-items-stretch {
  place-items: stretch;
}

.place-items-center {
  place-items: center;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}


.rounded-full {
  border-radius: 9999px;
}